@{
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
}

@if (!string.IsNullOrEmpty(ViewBag.NotFound))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.NotFound</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Category</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Categories</h3>
                </div>
            </div>
        </div>
        @if (ViewBag.CategoryList.Count == 0)
        {
            <h2>No items here.</h2>
        }
        else
        {
            <div class="row">
                @foreach (var category in ViewBag.CategoryList)
                {
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="single-product-item">
                            <div class="product-image mb-4">
                                <a asp-action="Details" asp-controller="Categories" asp-route-cid="@category.Categoryid"><img src="@category.CategoryImage" alt="@category.CategoryName"></a>
                            </div>
                            <h3>@category.CategoryName</h3>
                        </div>
                    </div>
                }
            </div>
        }
        <ul class="pagination justify-content-center gap-5">
            <li class="page-item">
                @if (currentPage > 1)
                {
                    <a class="page-link rounded mx-2 p-3 border-0" asp-action="Index" asp-route-page="@(currentPage - 1)" aria-label="Previous">
                        <span aria-hidden="false">&laquo;</span>
                    </a>
                }
                else
                {
                    <a class="page-link rounded mx-2 p-3 border-0" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link rounded mx-2 p-3 border-0" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item">
                @if (currentPage < totalPages)
                {
                    <a class="page-link rounded mx-2 p-3 border-0" asp-action="Index" asp-route-page="@(currentPage + 1)" aria-label="Next">
                        <span aria-hidden="false">&raquo;</span>
                    </a>
                }
                else
                {
                    <a class="page-link rounded mx-2 p-3 border-0" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
            </li>
        </ul>
    </div>
</div>
