<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Account Settings</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
@if (!string.IsNullOrEmpty(ViewBag.WrongPasswrod))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.WrongPasswrod</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.InputNewPassword))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.InputNewPassword</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.InputOldPassword))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.InputOldPassword</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container-sm mx-auto" style="margin-inline: 75%">
    <form asp-action="UpdateUserData" asp-controller="User" id="user-settings-form" style="margin: 15px 25%; padding: 25px; border: 1px solid #ccc; border-radius: 10px;">
        <div class="mb-3">
            <label for="FullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" value="@ViewBag.UserData.FullName" name="FullName" id="FullName">
            <span class="form-message"></span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" value="@ViewBag.UserData.Email" name="Email" id="Email">
            <span class="form-message"></span>
        </div>
        <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Phone Number</label>
            <input class="w-100 form-control" type="number" value="@ViewBag.UserData.PhoneNumber" name="PhoneNumber" id="PhoneNumber">
            <span class="form-message"></span>
        </div>
        <div class="mb-3">
            <label for="OldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" name="OldPassword" id="OldPassword">
            <span class="form-message"></span>
        </div>
        <div class="mb-3">
            <label for="NewPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" name="NewPassword" id="NewPassword">
            <span class="form-message"></span>
        </div>
        <div class="mb-3">
            <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword">
            <span class="form-message"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<script src="~/js/validator.js"></script>
<script>
    Validator({
        form: "#user-settings-form",
        errorSelector: ".form-message",
        rules: [
            Validator.isRequired(
                "#FullName",
                "Full Name is required"
            ),
            Validator.isRequired(
                "#Email",
                "Email is required"
            ),
            Validator.isEmail("#Email"),
            Validator.isRequired(
                "#PhoneNumber",
                "Phone Number is required"
            ),
            Validator.isPasswordConfirmed(
                "#ConfirmNewPassword",
                function () {
                    return document.querySelector("#user-settings-form #NewPassword")
                        .value;
                },
                "The passwords are not the same!"
            ),
        ],
    });
</script>