@{
    int selectedStar = 0;
    if (ViewBag.Rating != null)
    {
        selectedStar = ViewBag.Rating.Star;
    }
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Ratings</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
@if (!ViewBag.IsBoughtProduct)
{

    <div class="container my-4 mx-auto d-flex flex-row align-items-center">
        <img src="~/assets/img/comment.jpg" alt="comment" class="w-50 object-fit-cover mr-4" />
        <div>
            <h2>The order must be successfuly delivered to comment</h2>
            <p>Check back later for the order to complete!</p>
        </div>
    </div>
}
else
{
    <div class="comment-template container my-4 mx-auto">
        <h4>Leave a comment</h4>
        <p>If you have a comment dont feel hesitate to send us your opinion.</p>
        <form asp-action="SaveRatings" asp-controller="User" method="post" id="rating-form">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Ratings</label>
                    <br />
                    <p>
                        @if (ViewBag.Rating != null)
                        {
                            string[] idArray = { "first", "second", "third", "fourth", "fifth" };
                            for (int i = 0; i < ViewBag.Rating.Star; i++)
                            {
                                <label id="@idArray[i]" class="bi bi-star-fill" style="color: #e09834">
                                    <input name="star" class="sr-only" type="radio" value="@(i + 1)" required>
                                </label>
                            }
                            for (int i = ViewBag.Rating.Star; i < 5; i++)
                            {
                                <label id="@idArray[i]" class="bi bi-star-fill" style="color: #ccc">
                                    <input name="star" class="sr-only" type="radio" value="@(i + 1)" required>
                                </label>
                            }
                        }
                        else
                        {
                            <label id="first" class="bi bi-star-fill">
                                <input name="star" class="sr-only" type="radio" value="1" required>
                            </label>
                            <label id="second" class="bi bi-star-fill">
                                <input name="star" class="sr-only" type="radio" value="2">
                            </label>
                            <label id="third" class="bi bi-star-fill">
                                <input name="star" class="sr-only" type="radio" value="3">
                            </label>
                            <label id="fourth" class="bi bi-star-fill">
                                <input name="star" class="sr-only" type="radio" value="4">
                            </label>
                            <label id="fifth" class="bi bi-star-fill">
                                <input name="star" class="sr-only" type="radio" value="5">
                            </label>
                        }
                    </p>
                </div>
            </div>

            @if (ViewBag.Rating != null)
            {
                <input type="hidden" name="ratingId" value="@ViewBag.Rating.RatingId" />
            }

            @if (ViewBag.Comment != null)
            {
                <input type="hidden" name="commentId" value="@ViewBag.Comment.CommentId" />
                <div class="form-group">
                    <label for="commentContent">Your comment</label>
                    <textarea class="w-100 form-control" id="Comment" name="commentContent" cols="30" rows="10" placeholder="Your Message">@ViewBag.Comment.Content</textarea>
                    <span class="word-left"></span>
                    <span class="form-message"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="commentContent">Your comment</label>
                    <textarea class="w-100 form-control" id="Comment" name="commentContent" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <span class="word-left"></span>
                    <span class="form-message"></span>
                </div>
            }
            <input type="hidden" name="foodId" value="@ViewBag.FoodId" />
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>

    @section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/validator.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var selectedValue = @selectedStar;
            var wordLeftElement = $(".word-left");
            var numChar = +$("#Comment").val().length;
            wordLeftElement.text(numChar + "/200 Characters");

            $("#first, #second, #third, #fourth, #fifth").css("color", "#ccc");

            Validator({
                form: "#rating-form",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired(
                        "#Comment",
                        "Comment is required"
                    ),
                    Validator.minLength(
                        "#Comment",
                        3,
                        "Comment must greater than 3 characters"
                    ),
                    Validator.maxLength(
                        "#Comment",
                        200,
                        "Comment must be smaller than or equal to 200 characters"
                    )
                ],
            });

            function highlightFirstStar() {
                $("#first, #second, #third, #fourth, #fifth").css("color", "#ccc");
                $("#first").css("color", "#e09834")
            }

            function highlightSecondStar() {
                $("#first, #second, #third, #fourth, #fifth").css("color", "#ccc");
                $("#first, #second").css("color", "#e09834")
            }

            function highlightThirdStar() {
                $("#first, #second, #third, #fourth, #fifth").css("color", "#ccc");
                $("#first, #second, #third").css("color", "#e09834")
            }

            function highlightFourthStar() {
                $("#first, #second, #third, #fourth, #fifth").css("color", "#ccc");
                $("#first, #second, #third, #fourth").css("color", "#e09834")
            }

            function highlightFifthStar() {
                $("#first, #second, #third, #fourth, #fifth").css("color", "#ccc");
                $("#first, #second, #third, #fourth, #fifth").css("color", "#e09834")
            }

            $("#first").click(highlightFirstStar);

            $("#second").click(highlightSecondStar);

            $("#third").click(highlightThirdStar);

            $("#fourth").click(highlightFourthStar);

            $("#fifth").click(highlightFifthStar);

            // To auto-click when submitting form to deal with the required input radio.
            switch (selectedValue) {
                case 1:
                    $("#first").click();
                    break;
                case 2:
                    $("#second").click();
                    break;
                case 3:
                    $("#third").click();
                    break;
                case 4:
                    $("#fourth").click();
                    break;
                case 5:
                    $("#fifth").click();
                    break;
                default:
                    break;
            }

            $("#Comment").keyup(function () {
                // Get number of chars in the textarea
                var numChar = $(this).val().length;
                var wordLeftElement = $(".word-left");
                wordLeftElement.text(numChar + "/200 Characters")
                if (numChar > 200) {
                    $(this).css("color", "red");
                    wordLeftElement.css("color", "red")
                } else {
                    $(this).css("color", "black");
                    wordLeftElement.css("color", "black")
                }
            })
        })
    </script>
    }
}