<div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <h4>Food Management</h4>
            <h6 class="font-weight-light">Edit Food.</h6>
            <form id="food-form" class="pt-3" asp-action="FoodEdit" asp-controller="Admin">
                <input type="hidden" name="FoodId" value="@ViewBag.FoodData.FoodId" />
                <div class="form-group">
                    <input type="text" value="@ViewBag.FoodData.FoodName" class="form-control form-control-lg" name="FoodName" id="FoodName" placeholder="Food Name">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" value="@ViewBag.FoodData.FoodImage" class="form-control form-control-lg" name="FoodImage" id="FoodImage" placeholder="Food Image">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" value="@ViewBag.FoodData.FoodDescription" class="form-control form-control-lg" name="FoodDescription" id="FoodDescription" placeholder="Food Description">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" value="@ViewBag.FoodData.FoodStock" class="form-control form-control-lg" name="FoodStock" id="FoodStock" placeholder="Food Stock">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input type="text" value="@ViewBag.FoodData.FoodPrice" class="form-control form-control-lg" name="FoodPrice" id="FoodPrice" placeholder="Food Price">
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <select class="form-select" name="CategoryId">
                        <option value="@ViewBag.FoodData.CategoryId" selected="@ViewBag.FoodData.CategoryId">@ViewBag.FoodData.CategoryName</option>
                        @foreach (var item in ViewBag.CategoryList)
                        {
                            if (item.Categoryid != @ViewBag.FoodData.CategoryId)
                            {
                                <option value="@item.Categoryid">@item.CategoryName</option>
                            }
                        }
                    </select>
                    <span class="form-message"></span>
                </div>
                <div class="mt-3 w-100">
                    <button type="submit" class="w-100 btn btn-block btn-primary btn-lg font-weight-medium">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script defer src="~/js/validator.js"></script>
<script>
    $(document).ready(function () {
        Validator({
            form: "#food-form",
            errorSelector: ".form-message",
            rules: [
                Validator.isRequired(
                    "#FoodName",
                    "Food name is required"
                ),
                Validator.isRequired(
                    "#FoodImage",
                    "Food image is required"
                ),
                Validator.isImageLink(
                    "#FoodImage",
                    "This food image field must be an image link (ending with .jpg, .jpeg, or .png)"
                ),
                Validator.isRequired(
                    "#FoodDescription",
                    "Food description is required"
                ),
                Validator.isRequired(
                    "#FoodStock",
                    "Food stock is required"
                ),
                Validator.isRequired(
                    "#FoodPrice",
                    "Food price is required"
                ),
            ],
        });
    });
</script>
<style>
    .form-message {
        color: red;
    }
</style>