@{
    ViewData["Title"] = "Food Management";
    int counter = 0;
}

@if (!string.IsNullOrEmpty(ViewBag.EditSuccess))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.EditSuccess</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.DeleteSuccess))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.DeleteSuccesss</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.FoodCreate))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.FoodCreate</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.NotFound))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.NotFound</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewBag.FoodData.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Food Image</th>
                <th scope="col">Food Name</th>
                <th scope="col">Food Category</th>
                <th scope="col">Food Price</th>
                <th scope="col">Food Stock</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.FoodData)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td><img src="@item.FoodImage" width="50" height="50" style="object-fit: cover; border-radius: 5px" /></td>
                    <td>@item.FoodName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.FoodPrice.ToString("n0")₫</td>
                    <td>@item.FoodStock</td>
                    <td class="d-flex flex-row g-col-6">
                        <a class="btn btn-primary text-white me-3" asp-route-fId="@item.FoodId" asp-action="FoodEdit" asp-controller="Admin">Edit</a>
                        <form asp-action="FoodDelete" asp-controller="Admin">
                            <input type="hidden" value="@item.FoodId" name="fId" />
                            <button type="submit" class="btn btn-danger text-white">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h2>No data in database.</h2>
}
<script>
    document.querySelectorAll('.btn-danger').forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            if (confirm('Are you sure you want to delete this food?')) {
                button.closest('form').submit();
            }
        });
    });
</script>
