@{
    ViewData["Title"] = "Order Management";
    int count = 0;
}

@if (!string.IsNullOrEmpty(ViewBag.OrderDelete))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.OrderDelete</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.OrderStatus))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.OrderStatus</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.NotFound))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.NotFound</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewBag.OrderData.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>By</td>
                <td>Order Date</td>
                <td>Total Price</td>
                <td>Status</td>
                <td>Payment Type</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in ViewBag.OrderData)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@order.OrderFoods[0].User.Username</td>
                    <td>@order.DateOrder</td>
                    <td class="total-price">@order.TotalPrice</td>
                    <td class="status-type">@order.Status.StatusName</td>
                    <td class="payment-type">@order.PaymentId</td>
                    <td class="d-flex flex-row" style="gap: 10px">
                        @if (order.Status.StatusName != "Delivery Complete")
                        {
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateOrderStatus" asp-route-oid="@order.OrderId" asp-route-uid="@order.OrderFoods[0].User.UserId">Edit</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateOrderStatus" asp-route-oid="@order.OrderId" asp-route-uid="@order.OrderFoods[0].User.UserId">Details</a>
                        }
                        <form asp-action="OrderDelete" asp-controller="Admin">
                            <input type="hidden" name="oid" value="@order.OrderId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Format thành đơn vị tiền tệ cho dễ nhìn
            $("td[class='total-price']").each(function (index, element) {
                var total = parseInt($(element).text());
                $(element).text(total.toLocaleString("vi-VN", {
                    style: "currency",
                    currency: "VND"
                }))
            })

            // Đổi từ chuỗi 1 và 2 thành từ dễ đọc
            $("td[class='payment-type']").each(function (index, element) {
                var paymentType = $(element).text();
                $(element).text(paymentType == "1" ? "By Cash" : "By Bank");
            });

            $("td[class='status-type']").each(function (index, element) {
                var statusType = $(element).text();
                console.log(statusType)
                switch (statusType) {
                    case "Delivery Complete":
                    case "Delivering":
                        $(element).css("color", "green");
                        break;
                    case "Checking":
                        $(element).css("color", "#e09834");
                        break;
                    case "Order Cancel":
                        $(element).css("color", "red");
                        break;
                    default:
                        $(element).css("color", "black");
                }
            })

            $("#orderstatus").change(function () {
                var statusId = $("option:selected", this).val();
            })

            $('.btn-danger').each(function (index, element) {
                $(element).click(function (event) {
                    event.preventDefault();
                    if (confirm('Are you sure you want to delete this order?')) {
                        button.closest('form').submit();
                    }
                })
            })
        })
    </script>
}
else
{
    <h2>No data in database!</h2>
}
