@{
    ViewData["Title"] = "User Management";
    int counter = 0;
}

@if (!string.IsNullOrEmpty(ViewBag.DeleteUser))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@ViewBag.DeleteUser</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.NotFound))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.NotFound</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewBag.UserData.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Full Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.UserData)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Username</td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>
                        <form asp-action="UserDelete" asp-controller="Admin">
                            <input value="@item.UserId" type="hidden" name="uid" />
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        document.querySelectorAll('.btn-danger').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                if (confirm('Are you sure you want to delete this user?')) {
                    button.closest('form').submit();
                }
            });
        });
    </script>
}
else
{
    <h2>No data in database.</h2>
}


